# 프로그래머스 : 후보키

- 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/42890?language=python3
- 난이도 : 40%

# 프렌즈4블록

- 문제 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/17679
- 난이도 : 56%

In [35]:
m,n = 4,5

In [36]:
board = ["CCBDE", "AAADE", "AAABF", "CCBBF"]
board = [[i for i in j]for j in board]

In [38]:
# 한번 둘러보는 걸로 보자
erase = set()
for row in range(m):
    for col in range(n):
        if 0<=row+1<m and 0<=col+1<n:
            if board[row][col]==board[row+1][col]==board[row][col+1]==board[row+1][col+1]:
                erase.add((row,col))
                erase.add((row+1,col))
                erase.add((row,col+1))
                erase.add((row+1,col+1))

In [39]:
erase

{(1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)}

In [40]:
# 지우기
for idx in erase:
    idx_row = idx[0]
    idx_col = idx[1]
    
    board[idx_row][idx_col] = 0

In [41]:
board

[['C', 'C', 'B', 'D', 'E'],
 [0, 0, 0, 'D', 'E'],
 [0, 0, 0, 'B', 'F'],
 ['C', 'C', 'B', 'B', 'F']]

In [42]:
# 끌어내리기
for row in range(m-1,-1,-1):
    for col in range(n-1,-1,-1):
        if board[row][col]==0:
            origin_row = row
            while row>0:
                new_row = row-1
                if board[new_row][col]!=0:
                    board[origin_row][col] = board[new_row][col]
                    break
                row = new_row

In [43]:
board

[['C', 'C', 'B', 'D', 'E'],
 ['C', 'C', 'B', 'D', 'E'],
 [0, 0, 'B', 'B', 'F'],
 ['C', 'C', 'B', 'B', 'F']]

In [31]:
afor row in range(m-1,-1,-1):
    for col in range(n-1,-1,-1):
        print(row, col)

3 4
3 3
3 2
3 1
3 0
2 4
2 3
2 2
2 1
2 0
1 4
1 3
1 2
1 1
1 0
0 4
0 3
0 2
0 1
0 0